@import 'colours';

@font-face {
  font-family: 'FOT-Chiaro Std';
  src: url('/fonts/FOT-ChiaroStd-B_0.otf');
}

@font-face {
  font-family: 'Triforce';
  src: url('/fonts/Triforce.ttf');
}

body {
  background: $grey2;
  font-family: 'FOT-Chiaro Std';
  margin: 0;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-spaced {
  justify-content: space-around;
}

a, button {
  background: $grey4;
  border: 0;
  font-size: 1.5vh;
  padding: 0 1vh;
  border-radius: .2vh;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
  color: $white;
  cursor: pointer;
  font-family: inherit;
  margin: .5vh;
  text-decoration: inherit;
  transform: perspective(100px);
  transition: transform 200ms ease-in-out, box-shadow 200ms ease-in-out;

  .icon {
    font-size: 2.5vh;
    font-weight: bold;
    margin: 0 .5vh;
    vertical-align: middle;
  }

  .label {
    font-size: 1.5vh;
    vertical-align: middle;
  }

  &.primary {
    background: $gold;
  }

  &:not(:disabled):hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .23);
    transform: perspective(100px) translateZ(2px);
  }

  &:disabled {
    color: rgba(255, 255, 255, .5);
  }
}

.skull-image {
  border: .1vh solid $black;
  height: 9vh;
  width: 12vh;

  &.red {
    border-color: $red;
  }

  &.orange {
    border-color: $orange;
  }

  &.yellow {
    border-color: $yellow;
  }

  &.green {
    border-color: $green;
  }

  &.blue {
    border-color: $blue;
  }

  &.purple {
    border-color: $purple;
  }
}

input {
  &[type='text'],
  &[type='password'] {
    font-family: inherit;
    outline: none;
    border: none;
    padding: 0 10px;
    border-radius: 1px;
  }
}

@import 'App';
@import 'Watch';
@import 'MatchList';
@import 'SkulltulaMap';
@import 'AreaList';
@import 'Match';
@import 'Modal';
@import 'AreaModal';
@import 'CreateMatchModal';
@import 'JoinMatchModal';
@import 'Queue';
@import 'ScrollArea';
@import 'Scoreboard';
